:root {
	--primary-color-1: #ede465;
	--primary-color-2: #e6e6e6;
	--primary-color-3: #ede465;
	--primary-color-4: #f35e5e;

	--secondary-color-1: #f35e5e;
	--secondary-color-2: #008ae6;

	--background-color: #404040;
	--background-secondary-color: #595959;
}
